.purple-palette {
    color: #5702a1;
}

.purple-turqoise-palette {
    color: #40288f;
}

.turqoise-palette {
    color: #2e518a;
}

.turqoise-green-palette {
    color: #347f83;
}

.green-palette {
    color: #35ac7a;
}
